flow.json
[
    {
        "id": "53909232bb435dbf",
        "type": "tab",
        "label": "heatpump-dynamic-tariff",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "estimatedPowerConsumption",
                "value": "",
                "type": "num"
            },
            {
                "name": "powerConsumptionHours",
                "value": "",
                "type": "num"
            },
            {
                "name": "mandatoryHours",
                "value": "",
                "type": "json"
            },
            {
                "name": "fallbackHours",
                "value": "",
                "type": "json"
            },
            {
                "name": "feedInTariff",
                "value": "",
                "type": "num"
            },
            {
                "name": "pvForecastFactor",
                "value": "",
                "type": "num"
            },
            {
                "name": "distributeHours",
                "value": "",
                "type": "json"
            },
            {
                "name": "pvForecastApiUrl",
                "value": "",
                "type": "str"
            },
            {
                "name": "energyPriceApiPayload",
                "value": "",
                "type": "json"
            },
            {
                "name": "energyPriceApiAuthorization",
                "value": "",
                "type": "str"
            },
            {
                "name": "energyPriceApiUrl",
                "value": "",
                "type": "str"
            },
            {
                "name": "energyPriceApiMethod",
                "value": "",
                "type": "str"
            },
            {
                "name": "energyPriceApiContentType",
                "value": "",
                "type": "str"
            }
        ]
    },
    {
        "id": "b29b435b87b59072",
        "type": "http request",
        "z": "53909232bb435dbf",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 140,
        "wires": [
            [
                "a01a639e80ad4ab7"
            ]
        ]
    },
    {
        "id": "d9f83b41aefaa974",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "pv forecast: solcast",
        "func": "node.debug(JSON.stringify(msg.payload));\n\nconst datefns = global.get('datefns');\nconst jsonconverter = global.get('jsonconverter');\nconst pvForecastFactor = env.get('pvForecastFactor') ?? 1;\n\nfunction powerPostProcessor(value, arrayIndex, arrayAllElements) {\n    const previousElement = arrayAllElements[arrayIndex - 1];\n    const previousElementPower = previousElement['pv_estimate'];\n    return pvForecastFactor * (value + previousElementPower) / 2;\n}\n\nfunction dayHourProcessor(value) {\n    const zonedDate = global.get('toZonedDate')(new Date(value));\n    const periodStartDate = datefns.addHours(zonedDate, -1); // period_start = period_end - 1\n    return datefns.format(periodStartDate, 'yyyy-MM-dd\\'T\\'HH');\n}\n\nconst payload = jsonconverter.json_converter(JSON.stringify(msg.payload), {\n    '$on': 'forecasts',\n    '$filter': ['period_end', (value) => value.match(/.*T..:00.*/)],\n    'period_start': ['period_end', (value) => dayHourProcessor(value)],\n    'power': ['pv_estimate', (value, arrayIndex, arrayAllElements) => powerPostProcessor(value, arrayIndex, arrayAllElements)],\n    '$arrayToObject': ['period_start', 'power']\n});\n\nreturn { topic: 'hourlyPvForecasts', payload };\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 100,
        "wires": [
            [
                "3c1d77dcd06ac48b",
                "698031ac418ee656",
                "b84ed09930c19163"
            ]
        ]
    },
    {
        "id": "c4d717c702fba9b0",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "energy price: tibber",
        "func": "node.debug(JSON.stringify(msg.payload));\n\nconst datefns = global.get('datefns');\nconst jsonconverter = global.get('jsonconverter');\n\nfunction convertDate(input) {\n    const parsedDate = Date.parse(input);\n    return datefns.format(parsedDate, 'yyyy-MM-dd\\'T\\'HH');\n}\n\nconst payload = jsonconverter.json_converter(JSON.stringify(msg.payload), {\n    '$on': '$..priceInfo.today',\n    'total': ['total'],\n    'startsAt': ['startsAt', (value) => convertDate(value)],\n    '$arrayToObject': ['startsAt', 'total']\n});\n\nreturn { topic: 'hourlyEnergyPrices', payload };\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 520,
        "wires": [
            [
                "c5236fd572f60df7",
                "698031ac418ee656",
                "6e5ddfb6848b6013"
            ]
        ]
    },
    {
        "id": "7ad82c270b16a402",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "calculate cost",
        "func": "const hourlyPvForecasts = msg.payload.hourlyPvForecasts;\nconst hourlyEnergyPrices = msg.payload.hourlyEnergyPrices;\n\nconst estimatedPowerConsumptionKw = env.get('estimatedPowerConsumption');\nconst feedInTariff = env.get('feedInTariff') ?? 0;\n\nconst hourlyEnergyCosts = {};\nif (hourlyEnergyPrices && estimatedPowerConsumptionKw) {\n    Object.keys(hourlyEnergyPrices).forEach(key => {\n        const hourlyEnergyPrice = hourlyEnergyPrices[key];\n        const hourlyPvForecast = hourlyPvForecasts ? hourlyPvForecasts[key] ?? 0 : 0;\n        const cost = hourlyEnergyPrice * (estimatedPowerConsumptionKw - hourlyPvForecast)\n            + hourlyPvForecast * feedInTariff;\n        hourlyEnergyCosts[key] = cost;\n    });\n}\n\nvar newMsg = { payload: hourlyEnergyCosts };\nnode.debug(JSON.stringify(newMsg.payload));\nreturn newMsg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 760,
        "wires": [
            [
                "57d358178e243538",
                "1f2cc1dddf7b1baf"
            ]
        ]
    },
    {
        "id": "57d358178e243538",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "choose cost efficient hours",
        "func": "var datefns = global.get('datefns');\n\nfunction sortMapByKey(input) {\n    return new Map([...input.entries()].sort());\n}\n\nfunction sortMapByValue(input) {\n    return new Map([...input.entries()].sort((a, b) => a[1] - b[1]));\n}\n\nfunction replacer(key, value) {\n    if (value instanceof Map) {\n        return {\n            dataType: 'Map',\n            value: Array.from(value.entries()),\n        };\n    } else {\n        return value;\n    }\n}\n\nfunction sortMapByKey(input) {\n    return new Map([...input.entries()].sort());\n}\n\nfunction sortMapByValue(input) {\n    return new Map([...input.entries()].sort((a, b) => a[1] - b[1]));\n}\n\nfunction getOffHoursBeforeMidnight(costEfficientHoursYesterday, considerationHours) {\n    if (costEfficientHoursYesterday && costEfficientHoursYesterday.length > 0) {\n        node.debug(`costEfficientHoursYesterday=${costEfficientHoursYesterday}`);\n        const hourKey = costEfficientHoursYesterday[costEfficientHoursYesterday.length - considerationHours];\n        const hour = Number(new String(hourKey).substring(11));\n        const offHoursBeforeMidnight = 24 - hour - 1;\n        node.debug(`offHoursBeforeMidnight=${offHoursBeforeMidnight}`);\n        return offHoursBeforeMidnight;\n    }\n    return undefined;\n}\n\nfunction chooseCostEfficientHours(payload, powerConsumptionHours, costEfficientHoursYesterday, mandatoryHours, distributeHours) {\n    node.debug(`payload=${JSON.stringify(payload)}`);\n\n    node.debug(`distributeHours=${JSON.stringify(distributeHours)}`);\n    if (Array.isArray(distributeHours) && distributeHours.length === 3) {\n        const offHoursBeforeMidnight = getOffHoursBeforeMidnight(costEfficientHoursYesterday, distributeHours[0]);\n        if (offHoursBeforeMidnight) {\n            const offHoursRemainingAfterMidnight = distributeHours[1] - offHoursBeforeMidnight;\n            node.debug(`offHoursRemainingAfterMidnight=${offHoursRemainingAfterMidnight}`);\n            const mandatoryHoursForDistribution = ['0-6', `0-${offHoursRemainingAfterMidnight < distributeHours[2] ? distributeHours[2] - 1 : offHoursRemainingAfterMidnight - 1}`, distributeHours[2]];\n            node.debug(`mandatoryHoursForDistribution=${JSON.stringify(mandatoryHoursForDistribution)}`);\n            (mandatoryHours ?? []).push(mandatoryHoursForDistribution);\n        }\n    }\n\n    const hourKeys = Object.keys(payload);\n    node.debug(`hourKeys=${JSON.stringify(hourKeys)}`);\n    const hourlyCost = new Map();\n    hourKeys.forEach(key => hourlyCost.set(key, payload[key]));\n    node.debug(`hourlyCost=${JSON.stringify(hourlyCost, replacer)}`);\n\n    let hourlyCostSelected = new Map();\n    if (hourKeys.length > 0) {\n        const template = hourKeys[0];\n        const dow = datefns.getDay(global.get('toDateFromKey')(template));\n        if (mandatoryHours) {\n            const logHead = 'mandatory hours: ';\n            mandatoryHours.forEach(entry => {\n                node.debug(`${logHead}processing entry ${entry}`);\n                if (Array.isArray(entry)) {\n                    if (entry.length === 3 || entry.length === 4) {\n                        const dayOrRange = entry[0];\n                        const hourRange = entry[1];\n                        let hoursToBeSelected = Number(entry[2]);\n                        const hoursMandatory = entry[3] ? Array(entry[3]) : [];\n                        node.debug(`${logHead}  hoursToBeSelected(initially)=${hoursToBeSelected}`);\n                        if (global.get('rangeContainsValue')(dow, dayOrRange) || dow === Number(dayOrRange)) {\n                            \n                            const hourRangeWithCost = new Map();\n                            global.get('addSelectedHours')(template, hourRange, hourRangeWithCost, hourlyCost);\n                            const hourRangeWithCostSorted = sortMapByValue(hourRangeWithCost);\n                            node.debug(`${logHead}  hourRangeWithCostSorted=${JSON.stringify(hourRangeWithCostSorted, replacer)}`);\n\n                            hoursMandatory.forEach(hour => {\n                                const key = global.get('buildKey')(template, hour)\n                                hourlyCostSelected.set(key, hourlyCost.get(key));\n                                node.debug(`${logHead}  select: ${key}`);\n                                hourRangeWithCostSorted.delete(key);\n                                hourlyCost.delete(key);\n                                hoursToBeSelected--;\n                            });\n                            node.debug(`${logHead}  after mandatory: hourlyCostSelected=${hourlyCostSelected.size} hoursToBeSelected=${hoursToBeSelected}`);\n\n\n                            Array.from(hourRangeWithCostSorted.keys()).forEach(key => {\n                                if (Array.from(hourlyCostSelected.keys()).includes(key)) {\n                                    node.debug(`${logHead}  already selected: ${key}`);\n                                    hourRangeWithCostSorted.delete(key);\n                                    hoursToBeSelected--;\n                                }\n                            });\n\n                            node.debug(`${logHead}  remaining: hourlyCostSelected=${hourlyCostSelected.size} hoursToBeSelected=${hoursToBeSelected}`);\n                            if (hoursToBeSelected > 0) {\n                                Array.from(hourRangeWithCostSorted.keys()).forEach(key => {\n                                    if (hourlyCostSelected.size <= hoursToBeSelected) {\n                                        hourlyCostSelected.set(key, hourRangeWithCostSorted.get(key));\n                                        hourlyCost.delete(key);\n                                        node.debug(`${logHead}  select: ${key}`);\n                                    }\n                                });\n                            }\n                        }\n                    } else if (entry.length === 2) {\n                        const dayOrRange = entry[0];\n                        const hourOrRange = entry[1];\n                        if (global.get('rangeContainsValue')(dow, dayOrRange) || dow === Number(dayOrRange)) {\n                            global.get('addSelectedHours')(template, hourOrRange, hourlyCostSelected, hourlyCost);\n                        }\n                    } else if (entry.length === 1) {\n                        const hourOrRange = entry[0];\n                        global.get('addSelectedHours')(template, hourOrRange, hourlyCostSelected, hourlyCost);\n                    }\n                } else {\n                    const hourOrRange = entry;\n                    global.get('addSelectedHours')(template, hourOrRange, hourlyCostSelected, hourlyCost);\n                }\n                node.debug(`${logHead}  result after entry processing: ${JSON.stringify(hourlyCostSelected, replacer)}`);\n            });\n        }\n\n        const hourlyCostSorted = sortMapByValue(hourlyCost);\n        node.debug(`hourlyCostSorted=${JSON.stringify(hourlyCostSorted, replacer)}`);\n        Array.from(hourlyCostSorted.keys()).forEach(key => {\n            if (hourlyCostSelected.size < powerConsumptionHours) {\n                hourlyCostSelected.set(key, hourlyCost.get(key));\n                node.debug(`select: ${key}`);\n            }\n        });\n        hourlyCostSelected = sortMapByKey(hourlyCostSelected);\n        node.debug(`hourlyCostSelected=${JSON.stringify(hourlyCostSelected, replacer)}`);\n    }\n    return [...hourlyCostSelected.keys()];\n}\n\nconst powerConsumptionHours = env.get('powerConsumptionHours');\nconst mandatoryHours = env.get('mandatoryHours');\nconst distributeHours = env.get('distributeHours');\nconst costEfficientHoursYesterday = flow.get('costEfficientHoursYesterday');\nconst hourlyCostSelectedKeys = chooseCostEfficientHours(msg.payload, powerConsumptionHours, costEfficientHoursYesterday, mandatoryHours, distributeHours);\nnode.debug(`hourlyCostSelectedKeys=${hourlyCostSelectedKeys}`);\nreturn { payload: hourlyCostSelectedKeys };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 820,
        "wires": [
            [
                "155225f6120582e9",
                "7bb29d543d74996a"
            ]
        ]
    },
    {
        "id": "c57e2ce21a60b90e",
        "type": "ui_chart",
        "z": "53909232bb435dbf",
        "name": "",
        "group": "5fe71c3fd07a84a7",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "PV-Prognose",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3c1d77dcd06ac48b",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "generate pv forecast chart",
        "func": "const data = [];\nconst labels = [];\nObject.keys(msg.payload).slice(0, 24).forEach(key => {\n    data.push(msg.payload[key]);\n    labels.push(Number(key.substring(11)));\n});\nreturn { payload: [{ series: ['X'], data:[data], labels}]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 100,
        "wires": [
            [
                "c57e2ce21a60b90e"
            ]
        ]
    },
    {
        "id": "c5236fd572f60df7",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "generate hourly energy price chart",
        "func": "const data = [];\nconst labels = [];\nObject.keys(msg.payload).forEach(key => {\n    data.push(msg.payload[key]);\n    labels.push(Number(key.substring(11)));\n});\nreturn { payload: [{ series: ['X'], data: [data], labels }] };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 520,
        "wires": [
            [
                "ca3d916f62f8ea22"
            ]
        ]
    },
    {
        "id": "ca3d916f62f8ea22",
        "type": "ui_chart",
        "z": "53909232bb435dbf",
        "name": "Hourly energy price",
        "group": "5fe71c3fd07a84a7",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Strompreis",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1570,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "cf8da99148e193d4",
        "type": "ui_chart",
        "z": "53909232bb435dbf",
        "name": "",
        "group": "5fe71c3fd07a84a7",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Stromkosten",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1550,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "1f2cc1dddf7b1baf",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "generate hourly cost chart",
        "func": "const data = [];\nconst labels = [];\nObject.keys(msg.payload).forEach(key => {\n    data.push(msg.payload[key]);\n    labels.push(Number(key.substring(11)));\n});\nreturn { payload: [{ series: ['X'], data: [data], labels }] };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 760,
        "wires": [
            [
                "cf8da99148e193d4"
            ]
        ]
    },
    {
        "id": "155225f6120582e9",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "generate most cost efficient hours chart",
        "func": "const data = [];\nconst labels = [];\n\nconst selectedHours = [];\nmsg.payload.forEach(key => selectedHours.push(Number(key.substring(11))));\n\nfor(let hour=0; hour<24; hour++) {\n    data.push(selectedHours.indexOf(hour) > -1 ? 1 : 0);\n    labels.push(hour);\n}\nreturn { payload: [{ series: ['X'], data: [data], labels }] };\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 820,
        "wires": [
            [
                "15aabdd2187c0470"
            ]
        ]
    },
    {
        "id": "15aabdd2187c0470",
        "type": "ui_chart",
        "z": "53909232bb435dbf",
        "name": "",
        "group": "5fe71c3fd07a84a7",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Kosteng端nstigste Stunden",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1590,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "b55dbfacaaa2e6ea",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "generate date from cache",
        "func": "var datefns = global.get('datefns');\n\nconst now = global.get('toZonedDate')(new Date(msg.payload));\n\nreturn { payload: datefns.format(now, \"dd.MM.yyyy - HH' Uhr'\") };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1140,
        "wires": [
            [
                "a9257c5fd597c372"
            ]
        ]
    },
    {
        "id": "a9257c5fd597c372",
        "type": "ui_text",
        "z": "53909232bb435dbf",
        "group": "5fe71c3fd07a84a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zeitfenster",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1550,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d3a56c54933e3010",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "is selected hour?",
        "func": "var datefns = global.get('datefns');\n\nconst costEfficientHours = flow.get('costEfficientHours');\n\nconst now = global.get('toZonedDate')(new Date(msg.payload));\nconst key = datefns.format(now, \"yyyy-MM-dd'T'HH\");\nconst isSelectedHour = costEfficientHours ? costEfficientHours.indexOf(key) > -1 : false;\n\nreturn { payload: isSelectedHour };\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1200,
        "wires": [
            [
                "dbf24f3be6ed46a2",
                "89a6f3b395f8d1a3"
            ]
        ]
    },
    {
        "id": "698031ac418ee656",
        "type": "join",
        "z": "53909232bb435dbf",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "6",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1330,
        "y": 360,
        "wires": [
            [
                "7ad82c270b16a402"
            ]
        ]
    },
    {
        "id": "74baf2009a51d306",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "prepare HTP request",
        "func": "const headers = {};\n\nconst authorization = env.get('pvForecastApiAuthorization');\nif(authorization) {\n  headers['authorization'] = authorization;\n}\n\nconst contentType = env.get('pvForecastApiContentType');\nif(contentType) {\n  headers['content-type'] = contentType;\n}\n\nreturn {\n  url: env.get('pvForecastApiUrl'),\n  method: env.get('pvForecastApiMethod') ?? 'GET',\n  headers,\n  payload: env.get('pvForecastApiPayload')\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "b29b435b87b59072"
            ]
        ]
    },
    {
        "id": "84d4c93abcdeb85e",
        "type": "http request",
        "z": "53909232bb435dbf",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "69b5a3c741b62380"
            ]
        ]
    },
    {
        "id": "d4af6a26fcce30b5",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "prepare HTP request",
        "func": "const headers = {};\n\nconst authorization = env.get('energyPriceApiAuthorization');\nif(authorization) {\n  headers['authorization'] = authorization;\n}\n\nconst contentType = env.get('energyPriceApiContentType');\nif(contentType) {\n  headers['content-type'] = contentType;\n}\n\nreturn {\n  url: env.get('energyPriceApiUrl'),\n  method: env.get('energyPriceApiMethod') ?? 'GET',\n  headers,\n  payload: env.get('energyPriceApiPayload')\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "84d4c93abcdeb85e"
            ]
        ]
    },
    {
        "id": "89a6f3b395f8d1a3",
        "type": "rpi-gpio out",
        "z": "53909232bb435dbf",
        "name": "Solid State Relay",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1130,
        "y": 1280,
        "wires": []
    },
    {
        "id": "ce75ec3164ec175e",
        "type": "inject",
        "z": "53909232bb435dbf",
        "name": "on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "jsonata",
        "x": 110,
        "y": 1280,
        "wires": [
            [
                "89a6f3b395f8d1a3",
                "dbf24f3be6ed46a2"
            ]
        ]
    },
    {
        "id": "8eeffa25c3a600df",
        "type": "inject",
        "z": "53909232bb435dbf",
        "name": "off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "jsonata",
        "x": 110,
        "y": 1340,
        "wires": [
            [
                "89a6f3b395f8d1a3",
                "dbf24f3be6ed46a2"
            ]
        ]
    },
    {
        "id": "7b3ceb9671e7a2f7",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "lib:dateFunctions",
        "func": "",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "function toZonedDate(date) {\n    const { TZDate } = global.get('datefnstz');\n    return new TZDate(date, env.get(\"TZ\"));\n}\n\nglobal.set('toZonedDate', toZonedDate);\n\nglobal.set('toDateFromKey', function (dateKey) {\n    return new Date(\n        Number.parseInt(dateKey.substring(0, 4)),\n        Number.parseInt(dateKey.substring(5, 7)) - 1,\n        Number.parseInt(dateKey.substring(8, 10))\n    );\n});\n\nglobal.set('todayMidnight', function () {\n    const datefns = global.get('datefns')\n    let todayMidnight = toZonedDate(new Date());\n    todayMidnight = datefns.setHours(todayMidnight, 0);\n    todayMidnight = datefns.setMinutes(todayMidnight, 0);\n    todayMidnight = datefns.setSeconds(todayMidnight, 0);\n    return todayMidnight;\n});\n\n",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "99bfaf7045376159",
        "type": "cronplus",
        "z": "53909232bb435dbf",
        "name": "check hour",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule",
                "topic": "topic1",
                "payloadType": "date",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "b55dbfacaaa2e6ea",
                "d3a56c54933e3010"
            ]
        ]
    },
    {
        "id": "0ee45497984ec87b",
        "type": "cronplus",
        "z": "53909232bb435dbf",
        "name": "trigger api calls",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule",
                "topic": "topic1",
                "payloadType": "date",
                "payload": "",
                "expressionType": "cron",
                "expression": "16 0 0 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 340,
        "wires": [
            [
                "74baf2009a51d306",
                "d4af6a26fcce30b5"
            ]
        ]
    },
    {
        "id": "bdae3ff9e5158a9d",
        "type": "switch",
        "z": "53909232bb435dbf",
        "name": "solcast",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "forecasts",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "response_status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 100,
        "wires": [
            [
                "d9f83b41aefaa974"
            ],
            [
                "c06b83343f2137ce",
                "5e5f360b13fe2087"
            ]
        ]
    },
    {
        "id": "3e88d48aa4f8c88f",
        "type": "ui_text",
        "z": "53909232bb435dbf",
        "group": "5fe71c3fd07a84a7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "PV forecast status",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1570,
        "y": 260,
        "wires": []
    },
    {
        "id": "5e5f360b13fe2087",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "extract error message",
        "func": "return { payload: msg.payload.response_status.message };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 260,
        "wires": [
            [
                "3e88d48aa4f8c88f"
            ]
        ]
    },
    {
        "id": "b84ed09930c19163",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "extract date",
        "func": "var datefns = global.get('datefns');\n\nconst date = global.get('toDateFromKey')(Object.keys(msg.payload)[0]);\nconst zoneDate = global.get('toZonedDate')(date);\n\nreturn { payload: `Daten f端r ${datefns.format(zoneDate, \"dd.MM.yyyy\")}`};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 200,
        "wires": [
            [
                "3e88d48aa4f8c88f"
            ]
        ]
    },
    {
        "id": "ccd9d8a62a4caa7a",
        "type": "ui_text",
        "z": "53909232bb435dbf",
        "group": "5fe71c3fd07a84a7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Hourly energy price status",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1590,
        "y": 620,
        "wires": []
    },
    {
        "id": "6e5ddfb6848b6013",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "extract date",
        "func": "var datefns = global.get('datefns');\nconst keys = Object.keys(msg.payload);\nif(!keys.length) {\n    return {payload: 'Datum nicht gefunden in Daten.'}\n}\nconst date = global.get('toDateFromKey')(Object.keys(msg.payload)[0]);\nconst zoneDate = global.get('toZonedDate')(date);\n\nreturn { payload: `Daten f端r ${datefns.format(zoneDate, \"dd.MM.yyyy\")}` };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 620,
        "wires": [
            [
                "ccd9d8a62a4caa7a"
            ]
        ]
    },
    {
        "id": "dbf24f3be6ed46a2",
        "type": "ui_led",
        "z": "53909232bb435dbf",
        "order": 2,
        "group": "5fe71c3fd07a84a7",
        "width": 0,
        "height": 0,
        "label": "Schaltzustand",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1530,
        "y": 1340,
        "wires": []
    },
    {
        "id": "69b5a3c741b62380",
        "type": "switch",
        "z": "53909232bb435dbf",
        "name": "tibber",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "data",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "errors",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "c4d717c702fba9b0"
            ],
            [
                "1ea5849461455414",
                "dd6c5397e5bf24d5"
            ]
        ]
    },
    {
        "id": "1ea5849461455414",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "extract error message",
        "func": "return { payload: msg.payload.errors[0].message };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 660,
        "wires": [
            [
                "ccd9d8a62a4caa7a"
            ]
        ]
    },
    {
        "id": "ba0d2d2bbfe3ea42",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "fallback cost efficient hours",
        "func": "var datefns = global.get('datefns');\n\nconst fallbackHours = env.get('fallbackHours');\nconst date = global.get('toZonedDate')(new Date());\nconst dow = datefns.getDay(date);\nconst template = datefns.format(date, \"yyyy-MM-dd'T'HH\")\nconst costEfficientHours = flow.get('costEfficientHours');\nif (costEfficientHours) {\n    const costEfficientHoursDatePart = String(Array(costEfficientHours)[0]).substring(0, 10);\n    const templateDatePart = String(template).substring(0, 10);\n    if (costEfficientHoursDatePart === templateDatePart) {\n        node.debug('costEfficientHours is up-to-date - fallback hours not needed');\n    } else {\n        node.debug('costEfficientHours is NOT up-to-date');\n        if (fallbackHours) {\n            node.debug('using fallback hours');\n            const hourlyCost = new Map();\n            const hourlyCostSelected = new Map();\n            fallbackHours.forEach(entry => {\n                if (Array.isArray(entry)) {\n                    if (entry.length === 2) {\n                        const dayOrRange = entry[0];\n                        const hourOrRange = entry[1];\n                        if (global.get('rangeContainsValue')(dow, dayOrRange) || dow === Number(dayOrRange)) {\n                            global.get('addSelectedHours')(template, hourOrRange, hourlyCostSelected, hourlyCost);\n                        }\n                    } else if (entry.length === 1) {\n                        const hourOrRange = entry[0];\n                        global.get('addSelectedHours')(template, hourOrRange, hourlyCostSelected, hourlyCost);\n                    }\n                } else {\n                    const hourOrRange = entry;\n                    global.get('addSelectedHours')(template, hourOrRange, hourlyCostSelected, hourlyCost);\n                }\n            });\n            return { payload: [...hourlyCostSelected.keys()] };\n        }\n    }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 940,
        "wires": [
            [
                "155225f6120582e9",
                "7bb29d543d74996a"
            ]
        ]
    },
    {
        "id": "de4ca6b90e843c35",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "lib:functions",
        "func": "",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "global.set('buildKey', function (template, hour) {\n    return template.substring(0, 11) + (Number(hour) < 10 ? `0${hour}` : hour);\n});\n\nglobal.set('getRangeBoundaries', function (range) {\n    return String(range).split('-').map(boundary => Number(boundary));\n});\n\nglobal.set('rangeContainsValue', function (value, range) {\n    const boundaries = String(range).split('-');\n    if (boundaries.length == 2) {\n        return Number(boundaries[0]) <= value && value <= Number(boundaries[1]);\n    }\n    return false;\n});\n\nglobal.set('addSelectedHours', function (template, hourOrRange, hourlyCostSelected, hourlyCost) {\n    const boundaries = global.get('getRangeBoundaries')(hourOrRange);\n    if (boundaries.length == 2) {\n        for (let hour = boundaries[0]; hour <= boundaries[1]; hour++) {\n            const key = global.get('buildKey')(template, hour)\n            hourlyCostSelected.set(key, hourlyCost.get(key) ?? 0);\n        }\n    } else {\n        const key = global.get('buildKey')(template, boundaries[0]);\n        hourlyCostSelected.set(key, hourlyCost.get(key) ?? 0);\n    }\n});\n",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f1a31f45d5ad032a",
        "type": "ui_form",
        "z": "53909232bb435dbf",
        "name": "",
        "label": "Partyzeit",
        "group": "5fe71c3fd07a84a7",
        "order": 8,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "von Stunde",
                "value": "partyHourStart",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "bis Stunde",
                "value": "partyHourEnd",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "partyHourStart": "",
            "partyHourEnd": ""
        },
        "payload": "",
        "submit": "Zeit hinzuf端gen",
        "cancel": "Abbrechen",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1540,
        "y": 1020,
        "wires": [
            [
                "01fca9e18423908c"
            ]
        ]
    },
    {
        "id": "01fca9e18423908c",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "add party time",
        "func": "var datefns = global.get('datefns');\n\nconst costEfficientHours = flow.get('costEfficientHours'); \nconst today = global.get('toZonedDate')(new Date());\nconst template = datefns.format(today, \"yyyy-MM-dd'T'HH\")\n\nconst hourlyCost = new Map();\nconst hourlyCostSelected = new Map();\nif(costEfficientHours) {\n    costEfficientHours.forEach( hour => hourlyCostSelected.set(hour, 0));\n}\n\nconst partyHourStart = msg.payload.partyHourStart;\nconst partyHourEnd = msg.payload.partyHourEnd;\nif (partyHourStart && partyHourEnd) {\n    global.get('addSelectedHours')(template, `${partyHourStart}-${partyHourEnd}`, hourlyCostSelected, hourlyCost);\n}\n\nreturn { payload: [...hourlyCostSelected.keys()] };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1020,
        "wires": [
            [
                "155225f6120582e9",
                "7bb29d543d74996a"
            ]
        ]
    },
    {
        "id": "6c10c1f5d026d1c2",
        "type": "change",
        "z": "53909232bb435dbf",
        "name": "send timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1100,
        "wires": [
            [
                "d3a56c54933e3010",
                "b55dbfacaaa2e6ea"
            ]
        ]
    },
    {
        "id": "e18b2c32b3195faf",
        "type": "change",
        "z": "53909232bb435dbf",
        "name": "retry api call",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "74baf2009a51d306"
            ]
        ]
    },
    {
        "id": "c06b83343f2137ce",
        "type": "delay",
        "z": "53909232bb435dbf",
        "name": "delay retry",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "e18b2c32b3195faf"
            ]
        ]
    },
    {
        "id": "dd6c5397e5bf24d5",
        "type": "delay",
        "z": "53909232bb435dbf",
        "name": "delay retry",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "32dfc3cbe3a8e48b"
            ]
        ]
    },
    {
        "id": "32dfc3cbe3a8e48b",
        "type": "change",
        "z": "53909232bb435dbf",
        "name": "retry api call",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "d4af6a26fcce30b5"
            ]
        ]
    },
    {
        "id": "4898aa72b81edf1c",
        "type": "cronplus",
        "z": "53909232bb435dbf",
        "name": "trigger api calls",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule",
                "topic": "topic1",
                "payloadType": "date",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 3 0 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 940,
        "wires": [
            [
                "ba0d2d2bbfe3ea42"
            ]
        ]
    },
    {
        "id": "972cd17af1593232",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "keep cost efficient hours of yesterday",
        "func": "var datefns = global.get('datefns');\n\nconst costEfficientHoursYesterday = flow.get('costEfficientHoursYesterday');\nnode.debug(`OLD: costEfficientHoursYesterday=${costEfficientHoursYesterday}`);\nconst costEfficientHours = flow.get('costEfficientHours');\nnode.debug(`OLD: costEfficientHours=${costEfficientHours}`);\nif (costEfficientHoursYesterday && costEfficientHoursYesterday.length > 0) {\n    const datePartCostEfficientHoursYesterdayFirstItem = costEfficientHoursYesterday[0].substring(0, 10);\n    node.debug(`datePartCostEfficientHoursYesterdayFirstItem=${datePartCostEfficientHoursYesterdayFirstItem}`);\n\n    const dateMidnightCostEfficientHoursYesterday = datefns.parse(datePartCostEfficientHoursYesterdayFirstItem, \"yyyy-MM-dd\", global.get('toZonedDate')(new Date()));\n    node.debug(`dateMidnightCostEfficientHoursYesterday=${dateMidnightCostEfficientHoursYesterday}`);\n\n    const todayMidnight = global.get('todayMidnight')();\n    const differenceInDays = datefns.differenceInDays(todayMidnight, dateMidnightCostEfficientHoursYesterday);\n    node.debug(`differenceInDays=${differenceInDays}`);\n\n    if (differenceInDays !== 1) {\n        node.debug(`NEW: costEfficientHoursYesterday=${costEfficientHours}`);\n        flow.set('costEfficientHoursYesterday', costEfficientHours);\n    }\n} else {\n    node.debug(`NEW: costEfficientHoursYesterday=${costEfficientHours}`);\n    flow.set('costEfficientHoursYesterday', costEfficientHours);\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a939facbcd32b607",
        "type": "cronplus",
        "z": "53909232bb435dbf",
        "name": "trigger api calls",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule",
                "topic": "topic1",
                "payloadType": "date",
                "payload": "",
                "expressionType": "cron",
                "expression": "4 0 0 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 880,
        "wires": [
            [
                "972cd17af1593232"
            ]
        ]
    },
    {
        "id": "7bb29d543d74996a",
        "type": "change",
        "z": "53909232bb435dbf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "costEfficientHours",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 940,
        "wires": [
            [
                "6c10c1f5d026d1c2"
            ]
        ]
    },
    {
        "id": "2afd1c4e2db08136",
        "type": "inject",
        "z": "53909232bb435dbf",
        "name": "run simulation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "09954056e2e6b2f6",
                "cd466406985b4f4e"
            ]
        ]
    },
    {
        "id": "09954056e2e6b2f6",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "simulate: tibber",
        "func": "const payload = {\n  \"data\": {\n    \"viewer\": {\n      \"homes\": [\n        {\n          \"currentSubscription\": {\n            \"priceInfo\": {\n              \"today\": [\n                {\n                  \"total\": 0.2951,\n                  \"startsAt\": \"yyyy-MM-ddT00:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.2926,\n                  \"startsAt\": \"yyyy-MM-ddT01:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.2927,\n                  \"startsAt\": \"yyyy-MM-ddT02:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.2925,\n                  \"startsAt\": \"yyyy-MM-ddT03:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.2936,\n                  \"startsAt\": \"yyyy-MM-ddT04:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3028,\n                  \"startsAt\": \"yyyy-MM-ddT05:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3342,\n                  \"startsAt\": \"yyyy-MM-ddT06:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.358,\n                  \"startsAt\": \"yyyy-MM-ddT07:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3512,\n                  \"startsAt\": \"yyyy-MM-ddT08:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3291,\n                  \"startsAt\": \"yyyy-MM-ddT09:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3045,\n                  \"startsAt\": \"yyyy-MM-ddT10:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3011,\n                  \"startsAt\": \"yyyy-MM-ddT11:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.2988,\n                  \"startsAt\": \"yyyy-MM-ddT12:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3027,\n                  \"startsAt\": \"yyyy-MM-ddT13:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3083,\n                  \"startsAt\": \"yyyy-MM-ddT14:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3407,\n                  \"startsAt\": \"yyyy-MM-ddT15:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.4015,\n                  \"startsAt\": \"yyyy-MM-ddT16:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.5309,\n                  \"startsAt\": \"yyyy-MM-ddT17:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.4724,\n                  \"startsAt\": \"yyyy-MM-ddT18:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3784,\n                  \"startsAt\": \"yyyy-MM-ddT19:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3319,\n                  \"startsAt\": \"yyyy-MM-ddT20:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3191,\n                  \"startsAt\": \"yyyy-MM-ddT21:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.314,\n                  \"startsAt\": \"yyyy-MM-ddT22:00:00.000+01:00\"\n                },\n                {\n                  \"total\": 0.3017,\n                  \"startsAt\": \"yyyy-MM-ddT23:00:00.000+01:00\"\n                }\n              ]\n            }\n          }\n        }\n      ]\n    }\n  }\n};\n\nconst datefns = global.get('datefns');\nconst zonedDate = global.get('toZonedDate')(new Date());\nconst formattedDate = datefns.format(zonedDate, 'yyyy-MM-dd');\npayload.data.viewer.homes[0].currentSubscription.priceInfo.today.forEach(entry => entry.startsAt = entry.startsAt.replace('yyyy-MM-dd',formattedDate));\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 480,
        "wires": [
            [
                "c4d717c702fba9b0"
            ]
        ]
    },
    {
        "id": "cd466406985b4f4e",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "simulate: solcast",
        "func": "const payload = {\n  \"forecasts\": [\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT23:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT00:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT00:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT01:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT01:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT02:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT02:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT03:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT03:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT04:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT04:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT05:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT05:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT06:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT06:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0.2117,\n      \"pv_estimate10\": 0.0898,\n      \"pv_estimate90\": 0.4804,\n      \"period_end\": \"yyyy-MM-ddT07:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 1.0148,\n      \"pv_estimate10\": 0.2611,\n      \"pv_estimate90\": 1.6869,\n      \"period_end\": \"yyyy-MM-ddT07:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 1.888,\n      \"pv_estimate10\": 0.7133,\n      \"pv_estimate90\": 2.7329,\n      \"period_end\": \"yyyy-MM-ddT08:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 2.7036,\n      \"pv_estimate10\": 1.375,\n      \"pv_estimate90\": 3.6981,\n      \"period_end\": \"yyyy-MM-ddT08:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 3.4639,\n      \"pv_estimate10\": 1.9802,\n      \"pv_estimate90\": 4.5121,\n      \"period_end\": \"yyyy-MM-ddT09:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 4.0821,\n      \"pv_estimate10\": 2.553,\n      \"pv_estimate90\": 5.1112,\n      \"period_end\": \"yyyy-MM-ddT09:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 4.6798,\n      \"pv_estimate10\": 3.1136,\n      \"pv_estimate90\": 5.6229,\n      \"period_end\": \"yyyy-MM-ddT10:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 5.2376,\n      \"pv_estimate10\": 3.6167,\n      \"pv_estimate90\": 6.0863,\n      \"period_end\": \"yyyy-MM-ddT10:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 5.577,\n      \"pv_estimate10\": 3.9869,\n      \"pv_estimate90\": 6.3644,\n      \"period_end\": \"yyyy-MM-ddT11:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 5.7219,\n      \"pv_estimate10\": 4.1505,\n      \"pv_estimate90\": 6.4931,\n      \"period_end\": \"yyyy-MM-ddT11:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 5.5707,\n      \"pv_estimate10\": 4.076,\n      \"pv_estimate90\": 6.3403,\n      \"period_end\": \"yyyy-MM-ddT12:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 5.3173,\n      \"pv_estimate10\": 3.8745,\n      \"pv_estimate90\": 6.1476,\n      \"period_end\": \"yyyy-MM-ddT12:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 4.9678,\n      \"pv_estimate10\": 3.5912,\n      \"pv_estimate90\": 5.876,\n      \"period_end\": \"yyyy-MM-ddT13:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 4.3726,\n      \"pv_estimate10\": 3.1371,\n      \"pv_estimate90\": 5.3428,\n      \"period_end\": \"yyyy-MM-ddT13:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 3.6743,\n      \"pv_estimate10\": 2.6,\n      \"pv_estimate90\": 4.7435,\n      \"period_end\": \"yyyy-MM-ddT14:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 2.915,\n      \"pv_estimate10\": 1.9186,\n      \"pv_estimate90\": 3.8808,\n      \"period_end\": \"yyyy-MM-ddT14:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 2.2659,\n      \"pv_estimate10\": 1.2843,\n      \"pv_estimate90\": 3.0543,\n      \"period_end\": \"yyyy-MM-ddT15:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 1.3072,\n      \"pv_estimate10\": 0.5251,\n      \"pv_estimate90\": 1.8795,\n      \"period_end\": \"yyyy-MM-ddT15:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0.1091,\n      \"pv_estimate10\": 0.0345,\n      \"pv_estimate90\": 0.1787,\n      \"period_end\": \"yyyy-MM-ddT16:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT16:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT17:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT17:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT18:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT18:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT19:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT19:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT20:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT20:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT21:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT21:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT22:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT22:30:00.0000000Z\",\n      \"period\": \"PT30M\"\n    },\n    {\n      \"pv_estimate\": 0,\n      \"pv_estimate10\": 0,\n      \"pv_estimate90\": 0,\n      \"period_end\": \"yyyy-MM-ddT23:00:00.0000000Z\",\n      \"period\": \"PT30M\"\n    }\n  ]\n}\n\nconst datefns = global.get('datefns');\nconst zonedDate = global.get('toZonedDate')(new Date());\nconst formattedDate = datefns.format(zonedDate, 'yyyy-MM-dd');\npayload.forecasts.forEach(forecast => forecast.period_end = forecast.period_end.replace('yyyy-MM-dd',formattedDate));\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 60,
        "wires": [
            [
                "d9f83b41aefaa974"
            ]
        ]
    },
    {
        "id": "36001b506c2168fc",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "pv forecast: forecast.solar",
        "func": "node.debug(JSON.stringify(msg.payload));\n\nconst datefns = global.get('datefns');\nconst formattedToday = datefns.format(new Date(), 'yyyy-MM-dd');\nconst jsonconverter = global.get('jsonconverter');\nconst pvForecastFactor = env.get('pvForecastFactor') ?? 1;\n\nfunction convertDate(input) {\n    const parsedDate = datefns.parse(input, 'yyyy-MM-dd HH:mm:ss', new Date());\n    const formattedDate = datefns.format(parsedDate, 'yyyy-MM-dd\\'T\\'HH');\n    return formattedDate.startsWith(formattedToday) ? formattedDate : undefined;\n}\n\nconst result = jsonconverter.json_converter(JSON.stringify(msg.payload), {\n    '$on': '$.result.watt_hours_period',\n    '$any': { key: (value) => convertDate(value), value: (value) => value / 1000 * pvForecastFactor }\n});\n\n\nconst payload = {};\nfor(let i=0; i<24; i++) {\n    const key = i < 10 ? `${formattedToday}T0${i}` : `${formattedToday}T${i}`;\n    if(result[key]) {\n        payload[key] = result[key];\n    } else {\n        payload[key] = 0;\n    }\n}\n\nreturn { topic: 'hourlyPvForecasts', payload };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 200,
        "wires": [
            [
                "3c1d77dcd06ac48b",
                "b84ed09930c19163",
                "698031ac418ee656"
            ]
        ]
    },
    {
        "id": "3823ac51eca1fdd4",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "simulate: forecast.solar",
        "func": "const payload = {\n    \"result\": {\n        \"watt_hours_period\": {\n            \"yyyy-MM-dd 08:00:18\": 0,\n            \"yyyy-MM-dd 09:00:00\": 786,\n            \"yyyy-MM-dd 10:00:00\": 2241,\n            \"yyyy-MM-dd 11:00:00\": 3479,\n            \"yyyy-MM-dd 12:00:00\": 4284,\n            \"yyyy-MM-dd 13:00:00\": 4387,\n            \"yyyy-MM-dd 14:00:00\": 4025,\n            \"yyyy-MM-dd 15:00:00\": 3558,\n            \"yyyy-MM-dd 16:00:00\": 2875,\n            \"yyyy-MM-dd 17:00:00\": 1841,\n            \"yyyy-MM-dd 18:00:00\": 918,\n            \"yyyy-MM-dd 18:16:20\": 79,\n            \"2024-10-24 08:01:58\": 0,\n            \"2024-10-24 09:00:00\": 402,\n            \"2024-10-24 10:00:00\": 1094,\n            \"2024-10-24 11:00:00\": 1508,\n            \"2024-10-24 12:00:00\": 1679,\n            \"2024-10-24 13:00:00\": 1609,\n            \"2024-10-24 14:00:00\": 1399,\n            \"2024-10-24 15:00:00\": 1163,\n            \"2024-10-24 16:00:00\": 905,\n            \"2024-10-24 17:00:00\": 589,\n            \"2024-10-24 18:00:00\": 307,\n            \"2024-10-24 18:14:26\": 24\n        },\n    },\n    \"message\": {\n        \"code\": 0,\n        \"type\": \"success\",\n        \"text\": \"\",\n        \"pid\": \"FjlY9M17\",\n        \"info\": {\n            \"latitude\": 11.7456,\n            \"longitude\": 7.1432,\n            \"distance\": 0.005,\n            \"place\": \"Some Street 1, 12345 Some City, Germany\",\n            \"timezone\": \"Europe/Berlin\",\n            \"time\": \"yyyy-MM-ddT18:54:03+02:00\",\n            \"time_utc\": \"yyyy-MM-ddT16:54:03+00:00\"\n        },\n        \"ratelimit\": {\n            \"zone\": \"IP 134.241.139.230\",\n            \"period\": 3600,\n            \"limit\": 12,\n            \"remaining\": 7\n        }\n    }\n}\n\nconst datefns = global.get('datefns');\nconst zonedDate = global.get('toZonedDate')(new Date());\nconst formattedDate = datefns.format(zonedDate, 'yyyy-MM-dd');\nObject.keys(payload.result.watt_hours_period).forEach(key => {\n    const newKey = key.replace('yyyy-MM-dd', formattedDate);\n    payload.result.watt_hours_period[newKey] = payload.result.watt_hours_period[key];\n    delete payload.result.watt_hours_period[key];\n});\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 160,
        "wires": [
            [
                "36001b506c2168fc"
            ]
        ]
    },
    {
        "id": "06def2b63b3ccd1c",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "energy price: awattar",
        "func": "node.debug(JSON.stringify(msg.payload));\n\nconst datefns = global.get('datefns');\nconst jsonconverter = global.get('jsonconverter');\n\nfunction convertDate(input) {\n    const parsedDate = new Date(input);\n    return datefns.format(parsedDate, 'yyyy-MM-dd\\'T\\'HH');\n}\n\nfunction convertToCentPerkWh(input) {\n    return Number((input / 1000).toFixed(4));\n}\n\nconst payload = jsonconverter.json_converter(JSON.stringify(msg.payload), {\n    '$on': 'data',\n    'EuroPerkWh': ['marketprice', (value) => convertToCentPerkWh(value)],\n    'startsAt': ['start_timestamp', (value) => convertDate(value)],\n    '$arrayToObject': ['startsAt', 'EuroPerkWh']\n});\n\nreturn { topic: 'hourlyEnergyPrices', payload };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 420,
        "wires": [
            [
                "698031ac418ee656",
                "c5236fd572f60df7"
            ]
        ]
    },
    {
        "id": "090bb12e721af91e",
        "type": "function",
        "z": "53909232bb435dbf",
        "name": "simulate: awattar",
        "func": "const payload = {\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"start_timestamp\": 1734303600000,\n      \"end_timestamp\": 1734307200000,\n      \"marketprice\": 81.5,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734307200000,\n      \"end_timestamp\": 1734310800000,\n      \"marketprice\": 75.56,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734310800000,\n      \"end_timestamp\": 1734314400000,\n      \"marketprice\": 46.76,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734314400000,\n      \"end_timestamp\": 1734318000000,\n      \"marketprice\": 56.71,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734318000000,\n      \"end_timestamp\": 1734321600000,\n      \"marketprice\": 60.34,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734321600000,\n      \"end_timestamp\": 1734325200000,\n      \"marketprice\": 84.63,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734325200000,\n      \"end_timestamp\": 1734328800000,\n      \"marketprice\": 122.88,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734328800000,\n      \"end_timestamp\": 1734332400000,\n      \"marketprice\": 135.95,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734332400000,\n      \"end_timestamp\": 1734336000000,\n      \"marketprice\": 136.19,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734336000000,\n      \"end_timestamp\": 1734339600000,\n      \"marketprice\": 122.99,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734339600000,\n      \"end_timestamp\": 1734343200000,\n      \"marketprice\": 109.94,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734343200000,\n      \"end_timestamp\": 1734346800000,\n      \"marketprice\": 95.02,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734346800000,\n      \"end_timestamp\": 1734350400000,\n      \"marketprice\": 97.16,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734350400000,\n      \"end_timestamp\": 1734354000000,\n      \"marketprice\": 102.7,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734354000000,\n      \"end_timestamp\": 1734357600000,\n      \"marketprice\": 111.43,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734357600000,\n      \"end_timestamp\": 1734361200000,\n      \"marketprice\": 122.3,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734361200000,\n      \"end_timestamp\": 1734364800000,\n      \"marketprice\": 131.15,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734364800000,\n      \"end_timestamp\": 1734368400000,\n      \"marketprice\": 135.03,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734368400000,\n      \"end_timestamp\": 1734372000000,\n      \"marketprice\": 135.08,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734372000000,\n      \"end_timestamp\": 1734375600000,\n      \"marketprice\": 133.12,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734375600000,\n      \"end_timestamp\": 1734379200000,\n      \"marketprice\": 127.5,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734379200000,\n      \"end_timestamp\": 1734382800000,\n      \"marketprice\": 119.97,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734382800000,\n      \"end_timestamp\": 1734386400000,\n      \"marketprice\": 105.65,\n      \"unit\": \"Eur/MWh\"\n    },\n    {\n      \"start_timestamp\": 1734386400000,\n      \"end_timestamp\": 1734390000000,\n      \"marketprice\": 93.92,\n      \"unit\": \"Eur/MWh\"\n    }\n  ],\n  \"url\": \"/at/v1/marketdata\"\n}\n;\n\nconst todayMidnight = global.get('todayMidnight')().getTime();\npayload.data.forEach((entry, index) => {\n    entry.start_timestamp = todayMidnight + index * 3600 * 1000;\n});\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 380,
        "wires": [
            [
                "06def2b63b3ccd1c"
            ]
        ]
    },
    {
        "id": "a01a639e80ad4ab7",
        "type": "switch",
        "z": "53909232bb435dbf",
        "name": "forecast.solar",
        "property": "payload.message.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "success",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "36001b506c2168fc"
            ],
            [
                "5e5f360b13fe2087",
                "c06b83343f2137ce"
            ]
        ]
    },
    {
        "id": "93bcbb6fa6a2f586",
        "type": "switch",
        "z": "53909232bb435dbf",
        "name": "awattar",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "data",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 420,
        "wires": [
            [
                "06def2b63b3ccd1c"
            ],
            [
                "dd6c5397e5bf24d5"
            ]
        ]
    },
    {
        "id": "5fe71c3fd07a84a7",
        "type": "ui_group",
        "name": "Default",
        "tab": "a4cb99d3ee80a04f",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4cb99d3ee80a04f",
        "type": "ui_tab",
        "name": "Heizung",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
